
<p>api</p>
jjjjjjjjjjjj
<h1>List of countries</h1>
{% include 'navSearch.html' %}

    {% for i in response %}
    <p>{{i.Country}}</p>
    
    {% endfor %}
    



    <a href="?page=1">1</a>
    <a href="?page=2">2</a>
    <a href="?page=3">3</a>

    {% if response.has_previous %}
       <a href="?page={{ object_list.previous_page_number }}">Previous page</a>
    {% endif %}
    <!---
    -->
    {% if response.has_next %}
    <p><a href="?page={{object_list.next_page_number}}">Next page</a></p>
    {% endif %}
    
